{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}
{% block javascripts_footer %}
    {{ parent() }}
    <script src="{{ asset('build/parser.js') }}"></script>

{% endblock %}
{% block body %}

        <div class="alert alert-info" id="progress">
        </div>
            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Category to parse</th>
                    <th scope="col">Cat TiModna</th>
                    <th scope="col">Link</th>
                    <th scope="col">Program</th>
                    <th scope="col">
                        <button type="button" class="btn btn-primary btn-sm" id="selectall"><small>Selecte All</small></button>
                        /
                        <button onclick='' type="button" class="btn btn-primary btn-sm" id="runselected"><small>Run selected</small></button></th>
                </tr>
                </thead>
                <tbody>
                {% for category in cats_to_parse %}
                    <tr>
                        <th scope="row">{{category.id}}</th>
                        <td>{{category.cat_to_parse_name}}</td>
                        <td>{{category.cat_main_name}}</td>
                        <td><small>{{category.cat_to_parse_link[:70]}}</small></td>
                        <td>{{category.program_name}}</td>
                        <td style="width: 260px;">
                            <input type="checkbox" name="categories" id="categories" value="{{category.id}}">
                            <button onclick='$("#catid").val({{category.id}});' type="button" class="btn btn-primary btn-sm" id="startcat" value="{{category.id}}"><small>Pages</small></button>
                            <button onclick='$("#catid").val({{category.id}});' type="button" class="btn btn-primary btn-sm" id="startindex" value="{{category.id}}"><small>Products</small></button>
                            <button onclick='$("#catid").val({{category.id}});' type="button" class="btn btn-primary btn-sm" id="startparse" value="{{category.id}}"><small>Parse</small></button>
                            <button onclick='$("#catid").val({{category.id}});' type="button" class="btn btn-primary btn-sm" id="startimg" value="{{category.id}}"><small>Images</small></button>
                            <div id="log-{{category.id}}"></div>
                            <input id="cat-pages-{{category.id}}" name="cat-pages-{{category.id}}" type="hidden" value="0">
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        <div id="ajax-results"></div>

        <input id="catid" name="catid" type="hidden" value="">

{% endblock %}