{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}
{% block javascripts_footer %}
    {{ parent() }}
    <script src="{{ asset('build/export.js') }}"></script>

{% endblock %}
{% block body %}

    <div class="alert alert-info" id="progress">
    </div>

    <div>
        <button type="button" class="btn btn-primary btn-sm" id="exportprods" value="">Export Products</button>
        <button type="button" class="btn btn-primary btn-sm" id="exportcats" value="">Export Categories</button>
    </div>

    <div id="ajax-results"></div>

{% endblock %}
