{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    {{ form(form) }}
    {%  if app.request.get('edit') %}
    {% endif %}
    {% if forms %}
    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Category to parse</th>
            <th scope="col">Options</th>
        </tr>
        </thead>
        <tbody>
        {% for parser_form in forms %}
            <tr>
                <th scope="row">{{parser_form.id}}</th>
                <td>{{parser_form.name}}</td>
                <td>{{parser_form.CatToParseId}}</td>
                <td><a href="/form-{{parser_form.id}}"><button type="button" class="btn btn-primary btn-sm">edit</button></a>
                    <a href="?del={{parser_form.id}}"><button type="button" class="btn btn-primary btn-sm">del</button></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}
