{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    {{ form(form) }}
    {% if categories %}
    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Parent</th>
            <th scope="col">Options</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <th scope="row">{{category.id}}</th>
                <td>{{category.name}}</td>
                <td>{{category.parent}}</td>
                <td><a href="/categories-edit-{{category.id}}"><button type="button" class="btn btn-primary btn-sm">edit</button></a>
                    <a href="/categories-delete-{{category.id}}"><button type="button" class="btn btn-primary btn-sm">delete</button></a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
        {% endif %}


</div>
{% endblock %}
