{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}
{% block javascripts_footer %}
    {{ parent() }}
    <script src="{{ asset('build/products.js') }}"></script>

{% endblock %}
{% block body %}


    <div class="example-wrapper">
        <div class="alert" id="progress" ></div>
        <div>
        <button type="button" class="btn btn-primary btn-sm" id="startarticul" value="">Create Articuls</button>
        <button type="button" class="btn btn-primary btn-sm" id="creatpromxml" value="">Create Prom XML</button>
        </div>
        {% if products %}
            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">price</th>
                    <th scope="col">Params</th>
                    <th scope="col">date parsed</th>
                    <th scope="col">Articul</th>
                </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <th scope="row">{{product.id}}</th>
                        <td>{{product.name}}</td>
                        <td>{{product.price}}</td>
                        {% set params = product.getDecodedParams %}
                        <td>
                        {% for param in params %}
                        {{ param.param }}-{{ param.value }} |
                        {% endfor %}
                        </td>
                        <td>{{product.DateParsed|date("d/m/Y m:s")}}</td>
                        <td>{{product.articul}} 
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

    </div>
{% endblock %}
