{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

{% if programs %}
    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Website</th>
            <th scope="col">Date Connected</th>
            <th scope="col">Options</th>
        </tr>
        </thead>
        <tbody>
{% for program in programs %}
    <tr>
        <th scope="row">{{program.id}}</th>
        <td>{{program.name}}</td>
        <td>{{program.website}}</td>
        <td>{{program.dateadded|date("d/m/Y")}}</td>
        <td> <a href="?edit={{program.id}}"><button type="button" class="btn btn-primary btn-sm">edit</button></a>
            <a href="?del={{program.id}}"><button type="button" class="btn btn-primary btn-sm">delete</button></a>
        </td>
    </tr>
{% endfor %}
        </tbody>
    </table>
{% endif %}
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    {{ form(form) }}
</div>
{% endblock %}
