<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Product Parser">
    <meta name="author" content="TheMykola">

    <title>{% block title %}Welcome to the Parser!{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">


</head>

<body>
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">TheParser</a>
    <form class="w-100" action="/">
        <input class="form-control form-control-dark w-100" id="search" name="search" type="text" placeholder="Найти товар" aria-label="Search">
    </form>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            {#}<a class="nav-link" href="#">Sign in</a>{#}
        </li>
    </ul>
</nav>
{% set currentPath = path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) %}

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link {% if currentPath=='/' %}active{% endif %}" href="/">
                            <span data-feather="home"></span>
                            Dashboard {% if currentPath=='/' %}<span class="sr-only">(current)</span>{% endif %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if currentPath=='/programs' %}active{% endif %}" href="/programs">
                            <span data-feather="file"></span>
                            Программы {% if currentPath=='/programs' %}<span class="sr-only">(current)</span>{% endif %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if currentPath=='/categories' %}active{% endif %}" href="/categories">
                            <span data-feather="shopping-cart"></span>
                            Категории Мои {% if currentPath=='/categories' %}<span class="sr-only">(current)</span>{% endif %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if currentPath=='/catparse' %}active{% endif %}" href="catparse">
                            <span data-feather="users"></span>
                            Категории Импорта {% if currentPath=='/catparse' %}<span class="sr-only">(current)</span>{% endif %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if currentPath=='/forms' %}active{% endif %}" href="/forms">
                            <span data-feather="bar-chart-2"></span>
                            Формы {% if currentPath=='/forms' %}<span class="sr-only">(current)</span>{% endif %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if currentPath=='/parser' %}active{% endif %}" href="/parser">
                            <span data-feather="layers"></span>
                            Парсер {% if currentPath=='/parser' %}<span class="sr-only">(current)</span>{% endif %}
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link {% if currentPath=='/product' %}active{% endif %}" href="/product">
                            <span data-feather="layers"></span>
                            Товары {% if currentPath=='/product' %}<span class="sr-only">(current)</span>{% endif %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if currentPath=='/export' %}active{% endif %}" href="/export">
                            <span data-feather="layers"></span>
                            Экспорт {% if currentPath=='/export' %}<span class="sr-only">(current)</span>{% endif %}
                        </a>
                    </li>
                </ul>
{#
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Saved reports</span>
                    <a class="d-flex align-items-center text-muted" href="#">
                        <span data-feather="plus-circle"></span>
                    </a>
                </h6>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file-text"></span>
                            Current month
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file-text"></span>
                            Last quarter
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file-text"></span>
                            Social engagement
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file-text"></span>
                            Year-end sale
                        </a>
                    </li>
                </ul>#}
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="table-responsive">
                {% block body %}{% endblock %}
            </div>
        </main>
    </div>
</div>

{% block javascripts_footer %}
<script src="{{ asset('build/app.js') }}"></script>
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
    feather.replace()
</script>
{% endblock %}
</body>
</html>
