{% extends 'base.html.twig' %}


{% block body %}
<h1>Товары</h1>
    {% if products %}
        {% for product in products %}
        <div class="align-content-lg-start">
            <div>{{ product.name }}</div>
            <div>{{ product.price }}</div>
            <div><a href="{{ product.link }}" target="_blank">{{ product.link }}</a> </div>
            <div>{{ product.date_parsed|date("d/m/Y m:s") }}</div>
        </div>
        {% endfor %}
    {% endif %}
{% endblock %}
