{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}
{% block javascripts_footer %}
    {{ parent() }}
    <script src="{{ asset('build/parser.js') }}"></script>

{% endblock %}
{% block body %}


<div class="example-wrapper">



    {% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
    {{ form(form) }}

</div>
{% endblock %}
