{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}


<div class="example-wrapper">
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    {{ form(form) }}

    {% if cats_to_parse %}
    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Program</th>
            <th scope="col">Link</th>
            <th scope="col">Cat TiModna</th>
            <th scope="col">Options</th>
        </tr>
        </thead>
        <tbody>
        {% for category in cats_to_parse %}
            <tr>
                <th scope="row">{{category.id}}</th>
                <td>{{category.CatToParseName}}</td>
                <td>{{category.Program}}</td>
                <td>{{category.CatToParseLink}}</td>
                <td>{{category.CatMainId}}</td>
                <td><a href="catparse-edit-{{category.id}}"><button type="button" class="btn btn-primary btn-sm">edit</button></a>
                    <a href="?del={{category.id}}"><button type="button" class="btn btn-primary btn-sm">del</button></a>
                    <a href="?delprod={{category.id}}"><button type="button" class="btn btn-primary btn-danger btn-sm">del prod</button></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

</div>
{% endblock %}
